
{% extends 'master.html'%}
{% block mybody %}
<br>
<br>
<div class="row">
    <form class="col s12" method="POST" action="/send">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" name="name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="emailid" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <button type="submit" class="waves-effect waves-light btn">Submit</button>
        </div>
      </div>
      </div>
    </form>
  </div>
          
{% endblock %}
